/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: block; 
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f8f9fa;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
}